/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo da página */
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/pizza-pizza-filled-with-tomatoes-salami-olives.jpg);
    background-size: 100% auto; /* 50% da largura, altura ajustada automaticamente */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Container principal */
  .form-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
img {
    width: auto;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
}
  
  /* Título */
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
  }
  
  /* Estilo do formulário */
  form {
    width: 100%;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  
  .form-group {
    width: 48%;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #ff3b3b;
    outline: none;
  }
  
  /* Botão de envio */
  button {
    width: 100%;
    padding: 12px;
    background-color: #E32828;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  
